/* .container .inner-div {
    width : 100%;
    height : 100px;
 
    text-align:center
  } */

  h1 {

    font-family: "NSacL";
    color: white;
  
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box {
    width: 250px;
    height: 500px;
    margin-left: 10px;
    background-color: aliceblue;
    list-style: none;
    float : left;

  
   
    flex-direction: column;
}

.container .boxcontainer {
    margin-top: 30px;
}

p{
    font-size: x-small;

    line-height: 1;
}

.btn {
  
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: white;
    font-size: 4px;
    font-family: "NSR";
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 95px;
    height:20px;
}

.container .btn:hover {
    background-color: #88C1FF;
    color: white;
}

.container .btn-b1 {

   
}


