body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(255,116,181,1) 0%, rgba(255,116,18,1) 100%); /* w3c */
}

.container {
  position: relative;
  width: 100%;
  
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
  margin-top: 30px;

}

/* Style the button and place it in the middle of the container/image */

@font-face {
  font-family: "NSacB";
  src: url("../public/fonts/NanumSquare_acB.ttf");
}

@font-face {
  font-family: "NSacEB";
  src: url("../public/fonts/NanumSquare_acEB.ttf");
}
@font-face {
  font-family: "NSacL";
  src: url("../public/fonts/NanumSquare_acL.ttf");
}
@font-face {
  font-family: "NSacR";
  src: url("../public/fonts/NanumSquare_acR.ttf");
}
@font-face {
  font-family: "NSB";
  src: url("../public/fonts/NanumSquareB.ttf");
}
@font-face {
  font-family: "NSEB";
  src: url("../public/fonts/NanumSquareEB.ttf");
}
@font-face {
  font-family: "NSL";
  src: url("../public/fonts/NanumSquareL.ttf");
}
@font-face {
  font-family: "NSR";
  src: url("../public/fonts/NanumSquareR.ttf");
}



